/* CSS declarations go here */
body{
	background-color: white;
	padding-left: 2em;
}

h1{
	color: white;
	text-align: center;
}

p{
	text-align: left;
	background-color: white;
	padding-left: 2em;
}

label{
	display: inline-block;
	min-width: 200px;
	color: blue;
}

#boutton_validation{
	margin-left: 255px;
}
