/* CSS declarations go here */
body{
<<<<<<< Updated upstream

	background-color: pink;

<<<<<<< HEAD

=======
>>>>>>> origin/master
=======
	background-color: pink;
>>>>>>> Stashed changes
>>>>>>> origin/master
=======
	background-color: pink;
>>>>>>> Stashed changes
}
h1{
	color: white;
}