<template name="taskItem">
	<div class="task">
		<div class="task text-center well well-sm col-sm-12" id="task_content">
			{{#if check_if_admin}}
				<button class="delete"><b>Supprimer</b></button>
			{{/if}}
   			<p><h4 class="notifText" id="notiftext"><b>Tâche</b>: {{name}}, <b>Points</b>: {{points}}</h4></p>
   		</div>
	</div>

</template>

<!-- car pour compte à rebours -->
<template name="car">

 <big>{{getCountdown}}</big> seconds left!
 <div><p style="color=red;">COMPTE</p></div>

</template>
