<template name="taskItem">

	<div class="conteneurNotif">

	 	<label for="test" class="ckeck">
			<input type="checkbox" checked="{{checked}}">
			<span class="span1">Cette tâche a été faite.</span>						<!--aussi compliqué pour le css-->
		</label>


		<div class="task" id="task_content" style="background-color:{{#if checked}}rgba(255, 50, 50, 0.6){{/if}};">
				<!-- style is useful for hidden tasks with the check button -->
   				<h4 class="notifText"><b>Tâche</b>: {{name}} <br> <b>Points</b>: {{points}}</h4>
   		</div>


		{{#if check_if_admin}}
			<!-- style is useful for hidden tasks with the check button -->
			<button class="delete" style="visibility:{{#if checked}}rgba(255, 50, 50, 0.6){{/if}};"><b>Supprimer</b></button>
		{{/if}}

	</div>

</template>

<!-- car pour compte à rebours -->
<template name="car">

 <big>{{getCountdown}}</big> seconds left!
 <div><p style="color=red;">COMPTE</p></div>

</template>
