<template name="userItem">
	<div class="user">
		<div class="user-content">
			<!-- Returns name and points field of the current task and include into HTML. -->
			<div class="row">
				<div class="col-xs-2" style="margin-bottom: 0.5em;">
					<a href="/profile">
						<img class="img-responsive img-rounded" src="/data/profile_pic.png" style="max-width: 50px;"/>
					</a>
				</div>

				<div class="col-xs-10" style="margin-left: 1em; margin-right: -1em; margin-bottom: 0.5em; max-height: 50px; background-color: rgba(145, 255, 213, 0.4); text-align: left; color: black;">
					<a href="/profile" style="text-align: center;">
						<h5><span>{{username}}: </span><span>{{points}} points</span></h5><br>
					</a>
				</div>
			</div> 
		</div>
	</div>
</template>
