<template name="coloc">
	<div class="container">
		<!-- Profile image is not reactive yet. It should later be uploaded by the user and be loaded after login.-->
		<!-- #if currentUser return the current user, allowing to get his own data. -->
		

		{{#if currentUser}}
			<div class="col-sm-3">
				<div class="row">
					<img class="img-responsive img-rounded" src="/data/profile_pic.png" style="margin-left: -1em;"/>
					<ul class="list-unstyled">
		   				<!-- Returns username and points fields of the current user and include into HTML. -->
		   				<li><h3>{{currentUser.username}}</h3></li>
		   				<li><h3>{{currentUser.points}} points</h3></li>
		   			</ul>
	   			</div>

			   	<div class="row">
			   		<div style="padding-top: 2%">
			   			<h4>Scores et classement</h4>
					 	{{>usersList}}
			   		</div>
			   	</div>
			</div>
	
		{{>notifsList}}
			
	<!--		- creer des gages par les utilisateurs
			- deadline gage auto pour celui qui a le moins de points
			- celle qui fait le gage recoit le double des points -> marioKart -> le dernier a bcp de bonus -->


		<!--	<div class="addTache" id="addTache">
				<h4 class="addTacheTexte">Ajouter une nouvelle tâche pour la coloc.</h4>
			</div>

			<script>
				var bouton = document.getElementById('addTache');

				bouton.addEventListener('click', add_tache);

				function add_tache(){
					var contenu = prompt('Entrez le nom de la tâche');

					var newTache = document.createElement('div');
					newTache.id = 'nouvelleTache';

					newTache.innerHTML = `<h4 class='notifTexte'>${contenu}</h4>`;//comment faire sans utiliser css ?

					document.body.appendChild(newTache); //insère l'objet en tant que dernier éléments => a la fin


					var derniereNotif = document.getElementById('derniereNotif');
					var element_parent = document.getElementById("toutes_notif");

					element_parent.insertBefore(newTache, derniereNotif);
				};	
				
			</script>	-->


	<!--	<div id="toutes_notif">
		   		<div class="notif" id="derniereNotif">
		   			<h4 class="notifTexte">Notifications, activités de la coloc...</h4>
		   		</div>
		   		<div class="notif">
		   			<h4 class="notifTexte">Notifications, activités de la coloc...</h4>
		   		</div>
		   		<div class="notif">
		   			<h4 class="notifTexte">Notifications, activités de la coloc...</h4>
		   		</div>
		   		<div class="notif">
		   			<h4 class="notifTexte">Notifications, activités de la coloc...</h4>
		   		</div>
			</div>	   		
	-->
	
	 <!-- <div class="jumbotron col-sm-8 text-center pull-right">
	   			<h4>Notifications, activités de la coloc...</h4>
	   		</div>
	   		<div class="jumbotron col-sm-8 text-center pull-right">
	   			<h4>Notifications, activités de la coloc...</h4>
	   		</div>
	   		<div class="jumbotron col-sm-8 text-center pull-right">
	   			<h4>Notifications, activités de la coloc...</h4>
	   		</div>
	   		<div class="jumbotron col-sm-8 text-center pull-right">
	   			<h4>Notifications, activités de la coloc...</h4>
	   		</div>	
	  -->
	{{/if}}

	</div>
	
</template>