.task{
	width: 35%;
	height: 70px;
	margin-left: 5.5%;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	background-color: rgba(150,209,255,0.4);
	display: inline-block;
}
.task:hover{
	background-color: rgba(150,209,255,0.7);
	box-shadow: 0px 0px 5px black;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.notif{
	width: 60%;
	height: 70px;
	text-align: center;
	margin-left: 41.2%;
	margin-bottom: 15px;
	padding-top: 13px;
  border-radius: 5px;
	transition: 0.5s;
	background-color: rgba(150,209,255,0.4);
}

/*date de la notif*/
.date{
	font-size: 10px;
	color: white;
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}

.jumbotron{
	height: 80%;
	color: white;
	border-radius: 10px;
	background-color : rgba(150,209,255,1);
  text-align: center;
}

#jumb_task{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/*le bouton pour ajouter une tache dans tasks*/
#add_tache{
	width: 35%;
	height: 50px;
	margin-left: 34.2%;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	background-color: rgba(150,209,255,0.8);
	display: inline-block;
}
#add_tache:hover{
	background-color: rgba(150,209,255,1);
	box-shadow: 0px 0px 5px black;
	transition: background-color 0.5s, box-shadow 0.5s;
}
.add_tacheText{
	color: white;
	padding-top: 4px;
}

/*le bouton check*/
.check{
	margin-left: 15%;
}


/*le bouton pour supprimer les notif*/
.delete{
	width: 10%;
	height: 40px;
	text-align: center;
	float: right;
	margin-top: 14px;
	margin-right: 15%;
	border-radius: 7px;
	background-color: rgba(255, 50, 50, 0.6);
	color: white;
	transition: background-color 0.5s, box-shadow 0.5s;
}
.delete:hover{
	box-shadow: 0px 0px 5px black;
	background-color: rgba(255, 50, 50, 0.9);
	transition: background-color 0.5s, box-shadow 0.5s;
}

/*les taches à faire sur mon profile*/
#afaire{
	background-color: rgba(150,209,255,0.4);
}
#effectuees{
	padding-top: 25px;
	margin-top: 15px;
	background-color: rgba(255, 88, 84, 0.6);
}

/*barre de navigation + éléments*/
.navbar{
	background-color: rgba(1,1,1,0.07);
}
.navbar-default .navbar-brand{
	font-weight: bold;
	color: rgba(150,209,255,1);
	transition: 0.5s;
}
.navbar-default .navbar-brand:hover{
	color: rgba(150,209,255,1);
	box-shadow: 0px 0px 5px black;
	border-radius: 10px;
}
.navbar-default .navbar-nav > li > a{
	font-weight: bold;
	color: rgba(150,209,255,1);
	transition: 0.5s;
}
.navbar-default .navbar-nav > li > a:hover{
	color: rgba(150,209,255,1);
	box-shadow: 0px 0px 5px black;
	border-radius: 10px;
}
.img-responsive{
	transition: 0.5s;
}.img-responsive:hover{
	box-shadow: 0px 0px 5px black;
	border-radius: 10px;
	transition: 0.5s;
}

/*nom et nbr de points*/
.list-unstyled{
	color: rgba(255,50,50,0.6);
}
