<template name="notifsList">
	<div class="notifs">
		<!--For each tasks returned by the helper, use template taskItem.-->
		{{#each notifs}}
			{{> notifItem}}
		{{/each}}
	</div>
</template>

<!--<template name="notifsList">

	<input type="button" class="addTache" id="addTache" value="ajouter">

	<div id="toutes_notif">
		<div class="notif"></div>
	</div>-->
<!--	<div class="addTache" id="addTache">
		<h4 class="addTacheTexte">Ajouter une nouvelle tâche pour la coloccc.</h4>
	</div>

	<div id="toutes_notif">
		<div class="notif" id="derniereNotif">
	   		<h4 class="notifTexte">Notifications, activités de la coloc...</h4>
		</div>
	</div>
</template>-->
