<template name="profile">
	<div class="container">
		<!-- Profile image is not reactive yet. It should later be uploaded by the user and be loaded after login.-->
		<!-- #if currentUser return the current user, allowing to get his own data. -->
		{{#if currentUser}}
			<img class="img-responsive" src="/data/profile_pic.png" width="200" />
   			<ul>
   				<!-- Returns username and points fields of the current user and include into HTML. -->
   				<li>Username: {{currentUser.username}}</li>
   				<li>Points: {{currentUser.points}}</li>
   			</ul>
   		{{else}}
			<div class="jumbotron">Please sign in to see your profile.</div>
		{{/if}}
	</div>
</template>